<div class="container">
  <div class="row">
    <div class="col-md-9"></div>
    <div class="col-md-9">
      <div class="card shadow-effect">
        <img
          src="https://images.pexels.com/photos/386025/pexels-photo-386025.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          alt=""
          class="card-img-top img-fluid"
        />
        <div class="card-body">
          <small class="bg-light text-danger text-center">Design</small>
          <small class="bg-light text-sucess text-center ml-2">Featured</small>
          <small class="bg-light text-info text-center ml-2"
            >Views - 325,100</small
          >
          <small class="bg-light text-info text-warning ml-2"
            >LAST UPDATED: 10.03.2024</small
          >

          <h1 class="mt-3 mb-3">How to create a website in 2024</h1>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis
            sapiente, enim tempora dignissimos soluta, voluptatem, dolor rerum
            corrupti magnam necessitatibus voluptatum suscipit nemo non quam
            corporis inventore voluptatibus iste sint hic numquam debitis? Vel
            non deleniti quidem iste excepturi. Illum, quibusdam voluptatum
            architecto omnis cumque amet saepe vero tempora ex minus repellat
            earum fugiat laudantium consectetur in eius rerum odit dolor non
            corrupti reprehenderit temporibus ut iure. Beatae illum eius quia
            reiciendis sint, inventore architecto nisi nobis, sequi veniam odit
            neque voluptate tempora explicabo earum? Ad nihil veniam nulla
            quibusdam aliquam temporibus minima quo, modi adipisci, nemo nisi
            quae ullam at fugit vel tempore, odit vitae quaerat voluptate sint
            eligendi mollitia repudiandae! Architecto vero, debitis molestiae
            similique excepturi qui ducimus, dolorem ratione sint maxime harum
            velit omnis soluta cum nisi nostrum libero sit, laudantium illo hic
            vitae. Sunt fugiat beatae ducimus dolor quaerat! Sed iste eveniet
            perspiciatis, nulla cupiditate quo necessitatibus corrupti fugiat
            suscipit, laudantium nostrum animi minus tempora velit, consequatur
            magnam alias facere similique harum modi illum? Vero est
            consequuntur inventore dicta ab explicabo recusandae cumque
            obcaecati odio laborum cum veritatis, magnam, ad nam sit laudantium.
            Ducimus ratione perferendis veritatis? Consequuntur eum culpa illum
            aperiam vero cumque adipisci cum?
          </p>
        </div>
      </div>
      <app-comment-form></app-comment-form>
      <app-comment-list></app-comment-list>
    </div>
    <div class="col-md-3">
      <app-post-card></app-post-card>
      <app-post-card></app-post-card>
      <app-post-card></app-post-card>
    </div>
  </div>
</div>
