<div class="card mt-5 shadow-effect">
  <div class="card-body">
    <h4 *ngIf="isLoggedIn$ | async; else notLoggedIn">Leave a comment</h4>
    <ng-template #notLoggedIn>
      <h4>Leave a comment (Only for logged-in users)</h4>
      <a routerLink="/login">Login</a> or <a routerLink="/register">Register</a>
    </ng-template>

    <form *ngIf="isLoggedIn$ | async" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="">Name</label>
        <input
          [(ngModel)]="name"
          type="text"
          class="form-control shadow-effect"
          placeholder="Enter your name here"
        />
      </div>
      <div class="form-group">
        <label for="">Comment</label>
        <textarea
          [(ngModel)]="content"
          cols="30"
          rows="10"
          class="form-control shadow-effect"
          placeholder="Add your comment here"
        ></textarea>
      </div>
      <button class="btn btn-info btn-theme" type="submit">
        Add a Comment
      </button>
    </form>
  </div>
</div>
