.card {
  max-width: 400px;
  min-height: 500px;
}

.card .card-img-top {
  width: 100%;
  height: 300px;
  object-fit: cover;
  cursor: pointer;
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
