<section class="mt-5">
  <div class="container mt-5 mb-5 p-5 bg-theme">
    <h1 class="text-white text-center">Terms & Conditions</h1>
    <div class="p-5 mt-4 bg-secondary-theme text-theme-primary">
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi
        quisquam repellat quia laudantium, error officiis doloribus. Molestias
        nobis quaerat tenetur praesentium, fuga pariatur debitis, officia cum
        suscipit sit animi, ea saepe provident modi minus culpa quisquam
        repudiandae porro perferendis. Eum rerum illum iure eos impedit. Odit
        animi dolorem ex perspiciatis quam debitis, eligendi excepturi assumenda
        in molestiae praesentium quidem id vitae ipsa tempore et consequatur.
        Veritatis quia error commodi eius totam et ex natus vitae praesentium
        quibusdam delectus corrupti repellendus, autem magnam voluptates earum
        corporis sed distinctio ratione dolorem sapiente eum illum repudiandae.
        In, quasi molestiae architecto blanditiis quibusdam aliquam.
      </p>
      <div class="text-center">
        <button class="btn btn-info btn-sm mt-4 btn-theme">Back to Home</button>
      </div>
    </div>
  </div>
</section>
