<section class="mt-5">
  <div class="container mt-5 mb-5 p-5 bg-theme">
    <h1 class="text-white text-center">Contact us</h1>
    <div class="p-5 mt-4 bg-secondary-theme text-theme-primary">
      <p>
        Have questions or feedback? We'd love to hear from you. Please feel free
        to reach out to us on angularblog@moqtblog.com
      </p>
      <div class="text-center">
        <button class="btn btn-info btn-sm mt-4 btn-theme" routerLink="/">
          Back to Home
        </button>
      </div>
    </div>
  </div>
</section>
