<section class="mt-5">
  <div class="container mt-5 mb-5 p-5 bg-theme">
    <h1 class="text-white text-center">About us</h1>
    <div class="p-5 mt-4 bg-secondary-theme text-theme-primary">
      <p>
        About Us Welcome to my Angular Blog Project developed for my exam at
        SoftUni! I'm thrilled to share this project and my journey with you. As
        a student at SoftUni, I'm deeply passionate about web development and
        technology. This Angular Blog Project is a result of my dedication to
        learning and my desire to showcase my skills in Angular development.
        Supported by the invaluable resources and guidance provided by SoftUni,
        I embarked on this project with the goal of creating a comprehensive
        resource for individuals interested in Angular. Whether you're a fellow
        student looking to deepen your understanding of web development or
        someone eager to explore Angular, this blog is designed to cater to
        learners of all levels. Driven by my enthusiasm for coding and learning,
        I've crafted tutorials, guides, and practical examples to help you grasp
        Angular concepts effectively. From the fundamentals to advanced
        techniques, I aim to provide content that is both informative and
        engaging. What makes this project special is its focus on practical
        learning. In addition to theoretical explanations, I've included
        hands-on projects, code snippets, and interactive exercises to help you
        apply what you've learned in real-world scenarios. As part of the
        SoftUni community, I value collaboration and feedback. I encourage you
        to actively engage with the blog by sharing your thoughts, asking
        questions, and contributing your ideas. Your input is invaluable in
        shaping the direction of this project and ensuring its continued growth.
        Thank you for joining me on this exciting journey. I'm grateful for the
        opportunity to share my knowledge and passion for Angular development
        with you. Happy coding! Georgi
      </p>
      <div class="text-center">
        <button class="btn btn-info btn-sm mt-4 btn-theme" routerLink="/">
          Back to Home
        </button>
      </div>
    </div>
  </div>
</section>
